<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.sil.ukelele.keyboardlayout.belkeyboard</string>
	<key>CFBundleName</key>
	<string>BelKeyboard</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>KLInfo_Belarusian</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<true/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.belkeyboard.belarusian+ru</string>
		<key>TISIntendedLanguage</key>
		<string>be-BY</string>
	</dict>
	<key>KLInfo_Russian</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<true/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.belkeyboard.russian+by</string>
		<key>TISIntendedLanguage</key>
		<string>ru-BY</string>
	</dict>
</dict>
</plist>
